/*
	@package sunsettheme
*/	
/*
  Import
  ----------------------------------------------------
*/
@import 'base/mixins';
@import 'base/variables';
@import 'base/fonticon';
@import 'base/placeholders';
@import 'base/wordpress';

/*
	Generic
	----------------------------------------------------
*/
body{
	font-family: $body-font;
  &.no-scroll{
    overflow-y: hidden;
  }
}
a{
  color: $primary-color;@include animate(color, 320ms);
  &:hover,
  &:focus{text-decoration: none;}   
  
}
.background-image{
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
} 
.table{
	display: table; width: 100%; height: 100%;
  .table-cell{
    display: table-cell; width: 100%; height: 100%; vertical-align: middle;
  }
}

/*
	Header
	----------------------------------------------------
*/

.header-container{
	position: relative; display: block; height: 326px; @extend %text-shadow;
  @media (max-width: $xs){
    height: 200px;
  }

}
.site-title{
	color: #fff; margin: 0; font-size: 80px; user-select: none; -moz-user-select: none;
}
.site-description{
	font-size: 14px; color: #fff; margin-top: 1em; user-select: none; -moz-user-select: none;
}
.nav-container{
  position: absolute; bottom: 0; left: 0; right: 0; 
}
/*
  Nav Bar
  ----------------------------------------------------
*/
.navbar-sunset{
  text-align: center; border: none; border-radius: 0; min-height: auto; margin-bottom: 0;
  background: rgba(255,255,255,0.1);border-top: rgba(255,255,255,0.1) 1px solid; padding: 0 15px;
  ul{ float: none; }
  li{
    float: none; display: inline-block;
    &.active{
      a{opacity:1; 
        &::after{opacity: 1; @include transform( translateY(0px));}
      }
    }
    &.open{
      ul{padding: 0;}
      li{
        display: block;
      }
      a{ 
        opacity: 1; background-color: rgba(0,0,0,0.7); padding: 8px 20px;
        &::after{opacity: 0; @include transform( translateY(10px));}
        &:hover,
        &:focus,
        &:visited{
         &::after{opacity: 0; @include transform( translateY(10px));}
      }
      }
    }
    a{
      text-transform: uppercase; font-size: 12px; color: #fff; opacity: 0.7;
      letter-spacing: 0.05em;
      background: none; @include animate( opacity, 320ms); 
      &:hover,
      &:focus,
      &:visited{background: none; opacity: 1;
        &::after{opacity: 1; @include transform( translateY(0px));}
      }
      &::after{ content: '';position: absolute;display: block;left: 15px; 
                @include animate( all, 320ms);right: 15px;@include transform( translateY(10px));
                opacity: 0;bottom: 14px;height: 2px;background: #fff;}                       
    }
  }
}

/*
  Standart Post Format
  ----------------------------------------------------
*/
article{
  padding-bottom: 40px; padding-top: 40px;
}

h2, h1{ font-size: 48px; font-weight: 200; color: $primary-color;
  &.entry-title{
    line-height: 1.5em; padding: 0;
    &::before, &::after{
      content: '~'; display: inline-block; position: relative;
    } 
    &::before{margin-right: 10px;}
    &::after{margin-left: 10px;}  
  }
}
.entry-meta{
  font-size: 13px; font-weight: 300; color: $light-grey; margin-bottom: 25px;
  a{
    font-weight: 500; color: $light-grey;
    &:hover,
    &:focus{color: $dark-grey;}
  }
}
.standart-featured-link{
  display: block; position: relative;
  &:hover,
  &:focus{
    .standart-featured{
      &::after{
        background-color: rgba(0,0,0,0); 
      }
    }
  }
}
.standart-featured{
  height: 330px;display: block;position: relative;
  &::after{
    content: ''; position: absolute; display: block; top: 0;
    right: 0; bottom: 0; left: 0; background-color: rgba(0,0,0,0.15);
    box-shadow: inset 0 0 15px rgba(0,0,0,0.35);  @include animate(background-color, 320ms);
  }
}
.entry-excerpt{
  margin: 30px 0 16px;
  p{
    line-height: 1.4em; font-weight: 300; font-size: 17px; letter-spacing: 0.02em;
  }
}
.button-container{
  margin-bottom: 30px;
}
.btn-sunset{
  @include animate(all, 320ms);
  text-transform: uppercase; font-size: 14px; font-weight: 200; color: $light-grey;
  padding: 8px 12px; border-radius: 0; border: 1px solid $light-grey; background-color: transparent;
  &:hover,
  &:focus{
    color: #fff; border-color: $dark-grey; background-color: $dark-grey;
  }
}
.entry-footer{
  padding: 10px 5px; border-bottom: 4px solid $lighter-grey; color: $light-grey;
  text-transform: uppercase; 
  a{ color: $light-grey; display: inline-block; padding: 0 4px; font-size: 12px;
    &:hover,
    &:focus{color: $dark-grey;}  
  }
  .tags-list{
    .icon{margin-right: 10px;}
    a{
      padding: 0 4px;
    }
  }
  .comments-link{
    &:hover,
    &:focus{color: $dark-grey;} 
    .icon{
      margin-left: 10px;
    }
  }
}

/*
  Image Post Format
  ----------------------------------------------------
*/
.sunset-format-image{
 
  .entry-header{
    height: 600px; 
    position: relative;
    @extend %text-shadow;
  }
  h2,
  .entry-meta,
  {
    color: #fff;
    a{color: #fff}
  }
  h2{ padding-top: 20px; }
}
.entry-excerpt.image-caption{
  color: #fff;
  a{color: #fff}
  &.image-caption{
    position: absolute; left: 0; bottom: 0; right: 0; @extend %background-gradient; margin: 0;
    p{ 
      margin: 40px 0; font-size: 14px
    }
  }
}

/*
  Audio Post Format
  ----------------------------------------------------
*/
.sunset-format-audio{
  h2{ 
    font-size: 30px; 
    &.entry-title{
      display: inline-block; margin-right: 20px;
      &::before, &::after{content: none; }    
    }
  }
  .entry-meta{ display: inline-block; margin-bottom: 0;}

  .entry-content{
    iframe{
      width: 100%; height: 166px;
    }
  }
}

/*
  Video Post Format
  ----------------------------------------------------
*/
.sunset-format-video{
  header{
    h2{
      &.entry-title{
        margin-top: 20px
      }
    }
  }
}
/*
  Gallery Post Format
  ----------------------------------------------------
*/

.sunset-format-gallery{
   header{
    h2{
      &.entry-title{
        margin-top: 20px
      }
    }
  }
  .standart-featured{
    height: 500px;
    &::after{
      background-color: transparent;
    }
  }
  .carousel-control{
    background: none; background-image: none; opacity: 1; filter: alpha(opacity=100);
    font-size: 30px; @extend %text-shadow;width: auto;
    &:hover
    {
      .preview-container{
      background-color: rgba(0,0,0,0.8); 
        .thumbnail-container{
            @include transform (scale(1));
        }
      }
   }
    &.right{ 
      .preview-container{
        padding-left: 80px; border-radius: 35.5px 0 0 35.5px;
        .thumbnail-container{left: 1px}
      }
    }
    &.left{ 
      .preview-container{
        padding-right: 80px; border-radius: 0px 35.5px 35.5px 0px;
        .thumbnail-container{right: 1px} 
      }
    }
    .preview-container{
      position: relative; display: block; padding: 20px; background-color: rgba(0,0,0,0); line-height: 0;
      @include animate (background-color, 320ms);
      .thumbnail-container{position: absolute; display: block; height: 68px;
        width: 68px; border-radius: 50%; background: #999; top: 1px; @include animate (transform, 320ms);
        @include transform (scale(0));
        }
    }

  }
  .entry-excerpt{
    &.image-caption{
      @include animate (transform, 320ms); @include transform (translateY(100%));
    }
  }
    &:hover{
      .entry-excerpt{
        &.image-caption{
          @include transform (translateY(0));
        }
      }
    }

}

/*
  Quote Post Format
  ----------------------------------------------------
*/
.sunset-format-quote{
  .quote-content{
    font-size: 42px; font-weight: 100; line-height: 0.03em; line-height: 1.3em;
    &::before,
    &::after{
      display: inline-block; position: relative; color: #ccc;
    }
    &::before{
      content: '"'; 
    }
    &::after{
      content: '"'; 
    }  
  }
  .quote-author{
    color: #898989; font-size: 12px; letter-spacing: 0.06em;
  }
}

/*
  Link Post Format
  ----------------------------------------------------
*/
.sunset-format-link{
  h2{
    &.entry-title{
      &:before, &:after{
        display: none;
      }
    a{display: block;}
    .link-icon{
      display: block; color: #fff; font-size: 30px; width: 50px; height: 50px;
      background-color: rgba(0,0,0,0.6);border-radius: 50%; margin: 0 auto;
      line-height: 1em; padding-top: 10px;
    } 
    }
  }
}
/*
  Aside Post Format
  ----------------------------------------------------
*/
.sunset-format-aside{
  .aside-container{
    background-color: rgba(0,0,0,0.05);
    padding-top: 20px
  }  
  .aside-featured{
    width: 136px; height: 136px; border-radius: 50%;
    margin: 0 auto -20px;
  }
  .entry-meta{
    margin-bottom: 5px;
  }
  .entry-excerpt{
    margin-top: 0;
    p{
      font-size: 15px;
    }
  }
  .entry-footer{
    border-bottom: none; background-color: rgba(0,0,0,0.07);
    padding-right: 10px;
  }
}
/*
  Footer Section
  ----------------------------------------------------
*/
.sunset-footer{
  background-color: #333; padding: 20px 0; margin-top: 40px; display: block; color: white;
}

/*
  Ajax Loading
  ----------------------------------------------------
*/

.container-load-previous{
  margin-top: 80px;
  margin-bottom: -40px; 
}

.sunset-posts-container{
  padding-top: 40px;
  article{
    @include animate(all, 320ms);
    @include transform( translateY(100px) );
    opacity: 0;
    &.reveal{
      @include transform( translateY( 0px) );
      opacity: 1;
    }
  }
}
.btn-sunset-load{
  display: block; width: 200px; color: #222; font-size: 30px;
  margin: 0 auto; cursor: pointer; opacity: 0.5; @include animate( opacity, 320ms ); 
  &:hover,
  &:focus,
  &.loading{
    opacity: 1;
    color: #222;
  }
  &.loading{
    cursor: default;
  }
  span{
    display: block;
  }

}
.spin{
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/*
  SINGLE
  ----------------------------------------------------
*/

.entry-content{
  margin-top: 40px;
  font-size: 18px;
  letter-spacing: 0.02em;
  font-weight: 300;
  line-height: 1.7em;
  a,
  .sunset-tooltip,
  .sunset-popover{
    color: #ff9d1d;
    cursor: pointer;
    &:hover,
    &:focus{
      color: #F56B08;
    }
  }
  p{
    margin-bottom: 15px;
  }
  b, strong{
    font-weight: 500;
  }

}
.post-link-nav{
  padding: 10px 0;
  a{
    padding:  0 5px;
    &:hover,
    &:focus{
      color: #ff9d1d;
    }
  }
}
/*
  Sharing section
  ----------------------------------------------------
*/

.sunset-shareThis{
  display: block;
  text-align: center;
  border-top: 2px solid #f1f1f1;
  padding-top: 10px;
  clear: both;
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      display: inline-block;
      float: none;
    }
  }
  a{
    display: inline-block;
    margin: 0 5px;
    font-size: 20px;
    opacity: 0.65;
    color: #000;
    
    &:hover,
    &:focus{
      opacity: 1;
      color: #000;
    }
  }
}
/*
  Comment section
  ----------------------------------------------------
*/

.comments-area{
  border-top: 4px solid #f1f1f1;
  margin-top: 40px;
}
.last-field{
  margin-bottom: 40px;
}

/*
  Sidebar section
  ----------------------------------------------------
*/
.sidebar-overlay{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  display: none;
  cursor: e-resize;
}

.sunset-sidebar{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #1F1F1F;
  z-index: 9;
  color: #fff;
  height: 100vh;
  width: 100%;
  max-width: 280px;
  @include animate( transform, 320ms );

  &.sidebar-closed{
    @include transform( translateX(100%) );
  }
  a{
    color: #bababa;
    &:hover,
    &:focus{
      color: white;
    }
  }
}
.sunset-sidebar-container{
  position: relative;
  width: 100%;
  height: 100vh;
  display: block;
  padding-top: 40px;

}
.sidebar-scroll{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
   overflow-y: scroll;
}


.sidebar-close,
.sidebar-open{
  position: absolute;
  color: white;
  left: 10px;
  top: 10px;
  cursor: pointer;
  &:hover,
  &:focus{
    color: $orange-hover;
  }
}
.sidebar-open{
  left: auto;
  right: 20px;
  top: 20px;
  font-size: 10px;
}

/* Admin declared classes */

h1.sunset-username,
h2.sunset-description{
  font-weight: 100;
  color: #fff;
}
h1.sunset-username{
  font-size: 24px;
  margin: 0 0 10px;
}
h2.sunset-description{
  font-size: 13px;
  margin: 0 0 20px;
}
.image-container{
  display: block;
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.profile-picture{
  width: 122px;
  height: 122px;
  overflow: hidden;
  border-radius: 50%;
  margin: 20px auto;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;

}
.icons-wrapper a{
  color: white;
}

/*
  Widgets section
  ----------------------------------------------------
*/
.sunset-widget {
  margin: 30px 0 50px;
  padding: 0 20px;
  letter-spacing: 0.2px;
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    padding: 0 10px;
    margin-bottom: 10px;
    
    a {
      //font-size: 15px;
    }
    
  }
  
}
.sunset-widget-title{
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  padding: 8px;
  background-color: #303030;
  border-radius: 20px;
  line-height: 1em;
  margin-bottom: 20px;
  letter-spacing: 0.2px;
}
// Tags Cloud Widget
.tagcloud{
  text-align: center;
  a{
    display: inline-block;
    background-color: #7d7d7d;
    border-radius: 10px;
    padding: 1px 20px;
    color: #eee;
  }
}
// Categories Widget
.cat-item {
  position: relative;
  
  a,
  span {
    display: block;
  }
  
  a {
    padding: 4px 0;
  }
  
  span {
    position: absolute;
    right: 0;
    top: 2px;
    width: 22px;
    height: 22px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    line-height: 22px;
    background-color: #7D7D7D;
    border-radius: 10px;

  }
  
}

// Comments Widget
.recentcomments {
  
  font-size: 10px;
  color: #ccc;
  
  a {
    text-transform: uppercase;
  }
  
  span {
    
    &, 
    & a {
    
      display: block;
      color: #fff;
      font-size: 14px;
      padding-bottom: 4px;
      margin-bottom: 2px;
      border-bottom: 1px solid rgba(255,255,255,0.06);
      text-transform: none;
    
    }
  }
  
}

/*
  Contact Form
  ----------------------------------------------------
*/
.sunset-contact-form{
  padding: 20px 0;
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
  .form-group{
    margin-bottom: 30px;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #cbcbcb;
    }
  .form-control-msg{
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
  }

  &.has-error{
    &:before{
      background-color: red;
    }
  }

  }
}

.sunset-form-control{
  resize: vertical;
  border: none;
  border-radius: 0;
  padding: 8px 15px;
  outline: none;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  &::-webkit-input-placeholder{
    text-transform: uppercase;
  }
  &::-moz-input-placeholder{
    text-transform: uppercase;
  }
  &:-ms-input-placeholder{
    text-transform: uppercase;
  }

  &:hover,
  &:focus,
  &:active{
    box-shadow: none;
  }
}
.btn-sunset-form{
  background-color: $grey;
  color: white;
  border-radius: 2px;
  font-size: 26px;
  padding: 14px 60px;
  font-weight: 100;
  border: none;
  @include animate(all, 320ms);
  &:hover,
  &:focus{
    background-color: $dark-grey;
    color: white;
  }
}
.form-control-msg{
    display: none;
}
.has-error{
  .form-control-msg{
    display: block;
  }
}
.js-show-feedback{
  display: block;
}