/*
  @package sunsettheme
*/
/*
	Font Icon
	----------------------------------------------------
*/

@font-face {
  font-family: $icon-font;
  src:
    url('../fonts/sunset-icon.ttf?6gnhg2') format('truetype'),
    url('../fonts/sunset-icon.woff?6gnhg2') format('woff'),
    url('../fonts/sunset-icon.svg?6gnhg2#sunset-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sunset-icon' !important;  speak: none;  font-style: normal;  font-weight: normal;  font-variant: normal;  text-transform: none;  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sunset-audio:before {  content: "\e900";}
.sunset-chevron-left:before {  content: "\e901";}
.sunset-chevron-right:before {  content: "\e902";}
.sunset-close:before {  content: "\e903";}
.sunset-comment:before {  content: "\e904";}
.sunset-link:before {  content: "\e905";}
.sunset-loading:before {  content: "\e906";}
.sunset-logo:before {  content: "\e907";}
.sunset-menu:before {  content: "\e908";}
.sunset-pencil:before {  content: "\e909";}
.sunset-pics:before {  content: "\e90a";}
.sunset-search:before {  content: "\e90b";}
.sunset-share:before {  content: "\e90c";}
.sunset-tag:before {  content: "\e90d";}
.sunset-video:before {  content: "\e90e";}